@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root{
    --headerHeight : 80px;
}

$headerColor: #269962;
$sideBarWidth: 200px;
$spacing:30px;

html,body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}


.login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .inner{
        min-width: 400px;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #cecece;
            margin-bottom: 20px;
        }
    }
}



.layout{
    width: 100%;


    .header{
        background-color: $headerColor;
        height: var(--headerHeight);
        display: flex;
        align-items: center;
    
        justify-content: space-between;
        padding: 0 30px;
    
        .brand{
            width: ($sideBarWidth+$spacing);
        }
    
        .rightNav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex:1;
    
        }
        .text{
            color: white
        }
    }

}

.userAvatar{
    display: flex;
    align-items: center;
    .icon{
        margin-right: 10px;
    }
}


.logoutButton{
    // background-color: darken($headerColor,20%);
    cursor: pointer;
}
.logoutButton:hover{
    background-color: darken($headerColor, 10%);
    padding: 5px 2px;
    border-radius: 100px;
}

.bodyHolder{
    width: 100%;
    min-height: calc(100vh - var(--headerHeight));
    display: flex;
    background-color: #E5E5E5;
}


.sideBar{
    width: $sideBarWidth;
    background-color: white;
    ul{
        list-style: none;
        margin: 50px 0 0 $spacing;
        padding: 0;
        li {
            display: flex;
            align-items: center;
            .icon{
                margin-right: 10px;
            }
            margin-bottom: $spacing;
            font-size: large;
            font-weight: 400;
            cursor: pointer;
            color: darken(white, 50%);

            &.active{
                color: black;
            }

        }
    }
}

.mainContent{
    max-height: calc(100vh - var(--headerHeight));
    overflow: hidden;
    overflow-y: auto;
    flex:1;
    padding: $spacing;
}


.card{
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    .cardHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rightContent{
            display: flex;
            align-items: center;
            
            button{
                margin-left: 10px;
            }
        }
    }
}


.headContent{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}